* {
    
border: 1px, solid, black;
}

#wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

#web{
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
#game{
    display: inline-block;
}
#game-img{
    display: inline-block;
    width: 600px;
}

#me{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: right;
}
#description1{
    display: inline;
}
#myBtn{
    display: none;
}
.code{
    width: 500px;
    background: rgba(210, 180, 140, 0.809);
    border: 1px, solid, black;
    float: right;
}